@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@100,200,300,400,500,700,800,900,1&display=swap");

/* Preline */
@import "preline/variants.css";

/* Style custom */
html {
    @apply scroll-smooth w-full;
}
body {
    @apply font-sans bg-white text-gray-800;
}
