/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@100,200,300,400,500,700,800,900,1&display=swap");

/* Tailwind v4 */
@import "tailwindcss";

/* Preline */
@import "preline/variants.css";
@source "preline/dist/*.js";

/* Plugins (OK si paquets installés) */
/* @plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@plugin "@iconify/tailwind4" { prefixes: solar, tabler; } */

/* Theme tokens */
@theme {
  --font-body: "Inter", serif;
  --font-heading: "Cabinet Grotesk", sans-serif;
  --color-primary: #b8ff90;
  --color-body-color: #061d19;
  --color-body-bg: #0c2925; /* (tu peux garder #f3f3e5 si tu préfères) */
  --color-dark: #061d19;
  --radius-2xl: 1.25rem;
  --spacing-15: 60px;
  --spacing-25: 100px;
  --spacing-35: 140px;
}

/* Tes couches utilitaires/perso */
@layer base {
  html { @apply scroll-smooth w-full; }
  body { @apply font-body bg-body-bg text-body-color leading-[1.4] !overflow-x-hidden; }
  h1,h2,h3,h4,h5,h6 { @apply font-heading font-bold text-black leading-[1.3em]; }



    button:not(:disabled),
    [role="button"]:not(:disabled) {
        @apply cursor-pointer;
    }
}

@custom-variant hover (&:hover);


input,
textarea {
    @apply transition-all duration-200 focus:border-neutral-700 focus:ring-0 focus:outline-0;
}

.container {
    @apply mx-auto max-w-[1360px] px-4 md:px-7.5;
}

.container-medium {
    @apply mx-auto max-w-[1200px] lg:px-7.5 px-5;
}

.container-small {
    @apply mx-auto max-w-[980px] px-5;
}


/* Navbar Active Link */
#navbar .active {
    @apply underline;
}

.hs-overlay-backdrop {
    @apply fixed inset-0 bg-neutral-900/50 dark:bg-neutral-900/80
}


section {
    @apply overflow-x-hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        @apply appearance-none hidden size-0;
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar-thumb {
        @apply bg-transparent;
    }

    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-corner {
        @apply bg-transparent;
    }
}


